
h1,h2,h3,h4,h5,h6 {
    font-family: Open Sans, sans-serif;
}


.head{
    color: #414042;
}
a {
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    color: #4a4a4a;
}

a:hover {
    color: #4a4a4a;
    text-decoration: none;
}

p {
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    color: #4a4a4a;
    font-size: 16px;
}



.btn-theme {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    padding: 10px 25px;
    background: ansparent;
    color: #4a4a4a;
    border-radius: 0px;
    border: 2px solid #4a4a4a;
}

.btn-theme:hover {
    color: #4a4a4a;
    border: 2px solid #4a4a4a;
    
}


.form-control {
    font-family: Open Sans, sans-serif;
    padding: 15px;
    height: auto;
    border: none;
    font-size: 16px;
    color: #4a4a4a;
    border-radius: 0px;
    background: #f0f0f0;
}

.form-control:focus {
    color: #4a4a4a;
    background: #f0f0f0;
}

.form-control::-webkit-input-placeholder { /* Edge */
    color: #4a4a4a;
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4a4a4a;
}
  
.form-control::placeholder {
    color: #4a4a4a;
}


body {
    font-weight: normal;
    color: #4a4a4a;
    font-size: 16px;
    background: #e9ecf1;
}


header {
    background: white;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    
}

header .logo {
    padding: 6px 0px;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .menu-text {
    display: flex;
}

header .menu-text p {
    margin: 0px 0 0 10px;
}

header .menu-text .mt-badge {
    background: #285599;
    color: white;
    padding: 1px 10px;
    border-radius: 15px;
    min-width: 37px;
    text-align: center;
    margin-left: 10px;
}

.main-content {
    padding: 50px 0px;
}

.main-content-inner {
    justify-content: center;
}

.mc-item {
    width: 225px;
    min-width: 225px;
    max-width: 245px;
    margin-bottom: 30px;
}

.mci-inner {
    background: white;
    padding: 20px 10px;
    border-radius: 3px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
}

.mciit-cont {
    background: #d4ddec;
    padding: 15px;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}


.mcii-bottom p {
    margin-bottom: 0px;
    font-size: 16px;
    text-transform: uppercase;
}

.side-contant-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 260px;
    background: white;
    height: 100%;
    position: fixed;
    padding: 0 0 54px;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
}
.sidebar .side-logo {
    padding: 30px 30px 24px;
}
.side-login {
    background: #f2f2f2;
    display: flex;
}
.side-login-img {
    width: 60px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.side-login-text {
    width: 100%;
    padding: 15px 10px 5px;
}
.side-login-text p {
    margin: 0px 0 0 7px;
    color: black;
    line-height: 0.7;
}
.side-login-text a {
    color: #28549a;
    font-size: 12px;
}
.side-menu {
    padding: 25px 0px;
}
.side-menu ul {
    padding: 0px;
}
.side-menu ul li {
    list-style: none;
}
.side-menu ul li a {
    padding: 15px 15px 15px 55px;
    display: block;
}
.side-menu ul li a:hover {
    background-color: #28549a !important;
    color: white;
}

.side-menu ul li:nth-child(1) a {
    background: url(../../../../assets/inventory-management/images/icons/menu-1.png) no-repeat 8% 50%;
}
.side-menu ul li:nth-child(1) a:hover {
    background: url(../../../../assets/inventory-management/images/icons/menu-1-h.png) no-repeat 8% 50%;
}
.side-menu ul li:nth-child(2) a {
    background: url(../../../../assets/inventory-management/images/icons/menu-2.png) no-repeat 8% 50%;
}
.side-menu ul li:nth-child(2) a:hover {
    background: url(../../../../assets/inventory-management/images/icons/menu-2-h.png) no-repeat 8% 50%;
}
.side-menu ul li:nth-child(3) a {
    background: url(../../../../assets/inventory-management/images/icons/menu-3.png) no-repeat 8% 50%;
}
.side-menu ul li:nth-child(3) a:hover {
    background: url(../../../../assets/inventory-management/images/icons/menu-3-h.png) no-repeat 8% 50%;
}
.side-menu ul li:nth-child(4) a {
    background: url(../../../../assets/inventory-management/images/icons/menu-4.png) no-repeat 8% 50%;
}
.side-menu ul li:nth-child(4) a:hover {
    background: url(../../../../assets/inventory-management/images/icons/menu-4-h.png) no-repeat 8% 50%;
}
.side-menu ul li:nth-child(5) a {
    background: url(../../../../assets/inventory-management/images/icons/menu-5.png) no-repeat 8% 50%;
}
.side-menu ul li:nth-child(5) a:hover {
    background: url(../../../../assets/inventory-management/images/icons/menu-5-h.png) no-repeat 8% 50%;
}


.side-setting {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.side-setting ul {
    padding: 0px;
    margin: 0px;
}
.side-setting ul li {
    list-style: none;
}
.side-setting ul li a {
    padding: 15px 15px 15px 55px;
    display: block;
    background-color: #f2f2f2 !important;
}
.side-setting ul li a:hover {
    background-color: #28549a !important;
    color: white;
}
.side-setting ul li:nth-child(1) a {
    background: url(../../../../assets/inventory-management/images/icons/menu-6.png) no-repeat 8% 50%;
}
.side-setting ul li:nth-child(1) a:hover {
    background: url(../../../../assets/inventory-management/images/icons/menu-6-h.png) no-repeat 8% 50%;
}






.side-content {
    width: 80%;
    padding: 30px;
    margin-left: 260px;
}
.side-content-inner {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}
.side-content-inner h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}
.nav-icon-cont {
    display: none;
}



@media (max-width: 1023.98px) {

    .sidebar {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }
    .nav-icon-cont {
        display: block;
        text-align: left;
    }
    .nav-icon {
        font-size:30px;
        cursor:pointer;
    }
    .side-content {
        width: 100%;
        margin-left: 0px;
    }

}


@media (max-width: 767.98px) {
    header .logo {
        text-align: center;
    }
    header .menu {
        flex-direction: column;
    }
    header .menu a {
        margin-bottom: 10px;
    }
    .mc-item {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

}

/* relocate inventory own css */


h1,h2,h3,h4,h5,h6 {
    font-family: Open Sans, sans-serif;
}



a {
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    color: #414042;
}

a:hover {
    color: #414042;
    text-decoration: none;
}

p {
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    color: #414042;
    font-size: 16px;
}



.btn-theme {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    padding: 10px 25px;
    background: ansparent;
    color: #414042;
    border-radius: 0px;
    border: 2px solid #414042;
}

.btn-theme:hover {
    color: #414042;
    border: 2px solid #414042;
    
}


.form-control {
    font-family: Open Sans, sans-serif;
    padding: 10px;
    height: auto;
    border: none;
    font-size: 16px;
    color: #414042;
    border-radius: 0px;
    background: white;
}

.form-control:focus {
    color: #414042;
    background: white;
}

.form-control::-webkit-input-placeholder { /* Edge */
    color: #414042;
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #414042;
}
  
.form-control::placeholder {
    color: #414042;
}


body {
    font-weight: normal;
    color: #414042;
    font-size: 16px;
    background: #e9ecf1;
}


header {
    background: white;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    
}

header .logo {
    padding: 6px 0px;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .menu-text {
    display: flex;
}

header .menu-text p {
    margin: 0px 0 0 10px;
}

header .menu-text .mt-badge {
    background: #285599;
    color: white;
    padding: 1px 10px;
    border-radius: 15px;
    min-width: 37px;
    text-align: center;
    margin-left: 10px;
}

.main-content {
    padding: 50px 0px;
}

.main-content-inner {
    justify-content: center;
}













.mc-item {
    width: 155px;
    min-width: 155px;
    max-width: 165px;
    margin-bottom: 30px;
}

.mci-inner {
    background: white;
    padding: 20px 10px;
    border-radius: 3px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
}

.mciit-cont {
    background: #d4ddec;
    padding: 15px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}


.mcii-bottom p {
    margin-bottom: 0px;
    font-size: 14px;
    min-height: 42px;
    text-transform: uppercase;
}









 .btn-next {
    background: #3961A0;
    color: white;
}
.btn-next:hover {
    background: #527AB9;
    color: white;
}

.btn-back {
    background: #717375;
    color: white;
}
.btn-back:hover {
    background: #999b9d;
    color: white;
}

.inv-sub-head {
    background: #3961A0;
    padding: 10px;
    margin: 50px 0px 20px;
}

.inv-sub-head h3 {
    color: white;
    margin-bottom: 0px;
}

.inv-sub-body label {
    font-weight: bold;
}

.inv-sub-body h4 {
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 20px;
}

.inv-sub-body .thead-dark th {
    background: #717375;
    border-color: #717375;
}

.inv-sub-body .img-thumb {
    max-width: 40px;
}

.isb-head {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.isb-main {
    background: white;
}
.isb-main .isb-body {
    max-height: 200px;
    overflow-y: auto;
}









.das-head {
    width: 100%;
    background: #3961A0;
    padding: 10px 0px;
    margin: 0px 15px 0px;
    color: white;
}

.das-head a {
    color: white;
}

.das-head h4 {
    margin-bottom: 0px;
}

.das-head .dh-2 {
    text-align: center;
}

.das-head .dh-3 {
    text-align: right;
}

.das-body {
    background: white;
    padding: 25px 0 15px;
}

.das-body .thead-dark th {
    background: #717375;
    border-color: #717375;
    vertical-align: top;
}

.das-body td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.das-body .thead-dark th, .das-body td {
    font-size: 12px;
    font-weight: normal;
    padding: 10px 4px;
    text-align: center;
}

.das-body .thead-dark th .form-control {
    padding: 0px 5px;
}

.db-edit i {
    color: green; 
}

.db-delete i {
    color: red; 
}

.dh-menu i {
    font-size: 20px;
}



.dsh-modal .modal-content {
    border: 0;
    border-radius: 3px;
    background: transparent;
}


.dsh-modal .modal-header {
    background: #3961A0;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dsh-modal .modal-header .close {
    color: white;
}

.dsh-modal .modal-header h5 {
    font-size: 16px;
}

.dsh-modal .modal-body {
    background: white;
}

.dsh-modal .modal-body .form-control {
    background: #E6E7E8;
}

.dsh-modal .modal-footer {
    justify-content: space-between;
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dsh-modal .form-check-input {
    margin-top: .5rem;
    margin-left: .25rem;
}
.modal-body.das-body {
    padding: 15px;
}

.put-part {
    min-height: 200px;
}

.das-body p {
    font-size: 12px;
}
.das-body label {
    font-size: 12px;
}

.put-part .thead-dark th, .das-body td {
    padding: .75rem;
    text-align: left;
}

.put-part-loc {
    height: 200px;
    overflow: auto;
}

.put-part-loc th {
    padding-right: 0px;
    padding-left: 0px;
}

.error {
    color: red;
}





@media (max-width: 1025px) {
.das-body .thead-dark th, .das-body td {
    min-width: 90px;
}
}



@media (min-width: 1025px) {
  .table-responsive {
        display: table;
    }
    .dsh-modal.show .modal-dialog {
        min-width: 700px;
    }
}



@media (max-width: 767.98px) {
    header .logo {
        text-align: center;
    }
    header .menu {
        flex-direction: column;
    }
    header .menu a {
        margin-bottom: 10px;
    }
    .mc-item {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }


    .inv-sub-head h3 {
        font-size: 22px;
    }
    .inv-sub-head {
        margin: 30px 0px 20px;
    }
    .inv-sub-body label.text-right {
        text-align: left !important;
    }

    
    .dh-1 {
        text-align: center;
    }
    .das-head h4 {
        font-size: 18px;
    }
    .dh-3 {
        text-align: center !important;
    }

}