<div class="row">

    <div class="col-md-12">
        <div class="inv-sub-head">
            <h3>Inventory Count - Select the location you are counting</h3>
        </div>
    </div>

    <div class="col-md-12">
        <div class="inv-sub-body">
            <form>
                <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Location:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
                </div>
                
                <hr>

                <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-back">Go Back</button>
                    <button type="submit" class="btn btn-next float-right">Next</button>
                </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="inv-sub-head">
            <h3>Enter the part #</h3>
        </div>
    </div>

    <div class="col-md-12">
        <div class="inv-sub-body">
            <form>

                

                  <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">Count Date</th>
                        <th scope="col">Parts</th>
                        <th scope="col">Image</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">U/M</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="date" class="form-control"></td>
                        <td class="w-50"><input type="text" class="form-control"></td>
                        <td><img src="images/icons/thumb.png" alt="thumb" class="img-fluid img-thumb"></td>
                        <td><input type="number" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                      </tr>
                     
                    </tbody>
                  </table>
                
                <hr>

                <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-back">Close</button>
                    <button type="submit" class="btn btn-next float-right">Save</button>
                </div>
                </div>
            </form>
        </div>

    </div>
</div>





<div class="row">

    <div class="col-md-12">
        <div class="inv-sub-head">
            <h3>Inventory Count</h3>
        </div>
    </div>

    <div class="col-md-12">
        <div class="inv-sub-body">
           
            <h4>Do you need to count more parts in the location?</h4>

                <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-next float-right">Yes</button>
                    <button type="submit" class="btn btn-back float-right mx-2">No</button>
                </div>
                </div>
        </div>

    </div>
</div>






<div class="row">

    <div class="col-md-12">
        <div class="inv-sub-head">
            <h3>Enter the part #</h3>
        </div>
    </div>

    <div class="col-md-12">
        <div class="inv-sub-body">
            <form>

                

                  <table class="table table-borderless table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">Count Date</th>
                        <th scope="col">Parts</th>
                        <th scope="col">Image</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">U/M</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="date" class="form-control"></td>
                        <td class="w-50"><input type="text" class="form-control"></td>
                        <td><img src="images/icons/thumb.png" alt="thumb" class="img-fluid img-thumb"></td>
                        <td><input type="number" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                      </tr>

                      <tr>
                        <td><input type="date" class="form-control"></td>
                        <td class="w-50"><input type="text" class="form-control"></td>
                        <td><img src="images/icons/thumb.png" alt="thumb" class="img-fluid img-thumb"></td>
                        <td><input type="number" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                      </tr>
                     
                    </tbody>
                  </table>
                
                <hr>

                <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-back">Close</button>
                    <button type="submit" class="btn btn-next float-right">Save</button>
                </div>
                </div>
            </form>
        </div>

    </div>
</div>
