
  <!-- Restock -->
  <div class="modal fade dsh-modal" id="restock" bsModal #openPopup="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">RESTOCK</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="openPopup.hide(); otherQtyText.value = ''; otherQtyCheck.checked = false" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form> 
                <div class="row">

                    <div class="col-md-12" >
                        <p><b>Part #:</b> {{this.partArr[0]?.partNo}}</p>
                        <p><b>Description:</b> {{this.partArr[0]?.description}}</p>
                        <p><b>Location:</b> {{this.partArr[0]?.location}}</p>
                        <p><b>Current Qty:</b> {{this.partArr[0]?.partCurrentQty}}</p>
                    </div>

                    <div class="col-md-12">
                        <hr>
                    </div>

                    <div class="col-md-12">
                        <p><b>RESTOCK FROM</b></p>
                        <table class="table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Location
                                </th>
                                <th  scope="col">
                                  Qty Pulled
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <!-- <td style="width: 60%;">{{this.partArr[0]?.location}}</td> -->
                                <td>
                                  <div class="form-group row mx-0">
                                      <input style="margin-top: 14px;" #otherQtyCheck (click)="getOtherCheck($event.target.checked)" type="checkbox">
                                      <label for="" class="col col-form-label">Other</label>
                                      </div>
                              </td>
                                <td ><input (change)="getRestockFormData($event.target.value)" class="form-control" #otherQtyText [disabled]="isOther == false" type="text"></td>
                            </tr>
                            <tr>
                               
                                <!-- <td><input type="text" class="form-control"></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    <hr>
                </div>

                <div class="col-md-12">
                    <p><b>PENDING ORDERS</b></p>
                    <p class="text-center" *ngIf="ordersArr.length == 0">There are no open reorder log for {{partNumber}}</p>
                    <table *ngIf="ordersArr.length != 0" class="table table-striped table-hover table-responsive">
                      <thead>
                          <tr>
                              <th scope="col">
                                  Status
                              </th>
                              <th scope="col">
                                  Date Created
                              </th>
                              <th scope="col">
                                  PO #
                              </th>
                              <th scope="col">
                                Due date
                            </th>
                          </tr>
                      </thead>
                      <tbody>

                          <tr *ngFor="let order of ordersArr">
                              <td> {{order.status}}</td>
                              <td>{{order.dateCreated}}</td>
                              <td>{{order.poNum}}</td>
                              <td>{{order.poDueDate}}</td>
                          </tr>
                          
                      </tbody>
                  </table>
                  <div class="loading-popup" *ngIf="popTableloading" role="status">
                    <img src="assets/loader/Ellipsis-1s-200px.gif" class="ajax-loader">
                  </div>
                </div>

        </div>
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-back" data-dismiss="modal" (click)="openPopup.hide(); otherQtyText.value = ''; otherQtyCheck.checked = false">Close</button>
          <div class="loading-btn" *ngIf="Buttonloading" role="status">
            <img src="assets/loader/Ellipsis-1s-200px.gif" class="ajax-loader">
          </div>
          <button type="button" class="btn btn-next" (click)="sendRestockPart(otherQtyText, otherQtyCheck)">Restock</button>
        </div>
      </div>
    </div>
  </div>


<div class="strt-table" >
<div> <button type="button" class="btn btn-success">Open Restock Logs: {{tableArr.length}}</button></div>


  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="tm-body" >
    
    <table mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8 example-container">
      <ng-container matColumnDef="partNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Part # </th>
        <td mat-cell *matCellDef="let element" (click)="loadRestockPopup(element.partNo)"> {{element.partNo}}</td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Part Description </th>
        <td mat-cell *matCellDef="let element" class="t1" (click)="loadRestockPopup(element.partNo)"> {{element.description}} </td>
      </ng-container>
  
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let element" (click)="loadRestockPopup(element.partNo)"> {{element.location}}</td>
      </ng-container>

      <ng-container matColumnDef="partCurrentQty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
        <td mat-cell *matCellDef="let element" (click)="loadRestockPopup(element.partNo)"> {{element.partCurrentQty}}</td>
      </ng-container>
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- Angular 8 pagination -->
    <mat-paginator [pageSizeOptions]="[25, 100]"></mat-paginator>
  </div>
  <div class="loading" *ngIf="loader" role="status">
    <img src="assets/loader/Ellipsis-1s-200px.gif" class="ajax-loader">
  </div>
</div>