
/* umar css */

.btn-success {
    background-color: #3961A0 !important;
    border-color: #3961A0 !important;
    width: 1132px;
    cursor: initial;
}
.strt-table{
    /* margin-top: 40px; */
    position: relative;
    z-index: 8;
}

.dashboard-overlay{
    /* position: relative; */

    position: relative;
	/* background: gray; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 10;
    opacity: 0.6;
}

.example-container tbody {
  overflow-y: auto;
  max-height: 500px;
}
.tm-body{
    max-height: 500px;
    overflow-y: auto;
}

/* 
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  } */
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
.loading-btn{
    margin-right: 20px;
    margin-bottom: -147px;
    margin-top: -149px;
}
.btn-success:active, .btn-success:focus  {
    background: #285599 !important;
    border-color: #285599 !important;
    outline: none !important;
    box-shadow: none !important;
}
/* .loading img{
    margin-left: 29rem;
    margin-top: -4rem;
    margin-bottom: -4rem;
    position: absolute;
    margin: -9rem 24rem;
    z-index: 79076;
} */
.loading{
    position: fixed;
  bottom: 0;
  right: 0;
  margin: -2rem 6rem;   
  width: 50%;
  height: 50%;
    z-index: 99999999999999999999999999999999999;
  }
  
.loading-popup img{
    margin-left: 29rem;
    margin-top: -4rem;
    margin-bottom: -4rem;
    position: absolute;
    margin: -6rem 12rem;
    z-index: 79076;
}

table{
    width: 100%;
}
/* 
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 700px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  } */
  

/* azhar css */


h1,h2,h3,h4,h5,h6 {
    font-family: Open Sans, sans-serif;
}
.head{
    color: #414042;
}




a {
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    color: #414042;
}

a:hover {
    color: #414042;
    text-decoration: none;
}

p {
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    color: #414042;
    font-size: 16px;
}



.btn-theme {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    padding: 10px 25px;
    background: ansparent;
    color: #414042;
    border-radius: 0px;
    border: 2px solid #414042;
}

.btn-theme:hover {
    color: #414042;
    border: 2px solid #414042;
    
}


.form-control {
    font-family: Open Sans, sans-serif;
    padding: 10px;
    height: auto;
    border: none;
    font-size: 16px;
    color: #414042;
    border-radius: 0px;
    background: white;
}

.form-control:focus {
    color: #414042;
    background: white;
}

.form-control::-webkit-input-placeholder { /* Edge */
    color: #414042;
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #414042;
}
  
.form-control::placeholder {
    color: #414042;
}


body {
    font-weight: normal;
    color: #414042;
    font-size: 16px;
    background: #E6E7E8;
}


header {
    background: white;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,.1);
    
}

header .logo {
    padding: 6px 0px;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .menu-text {
    display: flex;
}

header .menu-text p {
    margin: 0px 0 0 10px;
}

header .menu-text .mt-badge {
    background: #285599;
    color: white;
    padding: 1px 10px;
    border-radius: 15px;
    min-width: 37px;
    text-align: center;
    margin-left: 10px;
}

.main-content {
    padding: 50px 0px;
}

.main-content-inner {
    justify-content: center;
}













.mc-item {
    width: 155px;
    min-width: 155px;
    max-width: 165px;
    margin-bottom: 30px;
}

.mci-inner {
    background: white;
    padding: 20px 10px;
    border-radius: 3px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
}

.mciit-cont {
    background: #d4ddec;
    padding: 15px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}


.mcii-bottom p {
    margin-bottom: 0px;
    font-size: 14px;
    min-height: 42px;
    text-transform: uppercase;
}









 .btn-next {
    background: #3961A0;
    color: white;
}
.btn-next:hover {
    background: #527AB9;
    color: white;
}

.btn-back {
    background: #717375;
    color: white;
}
.btn-back:hover {
    background: #999b9d;
    color: white;
}

.inv-sub-head {
    background: #3961A0;
    padding: 10px;
    margin: 50px 0px 20px;
}

.inv-sub-head h3 {
    color: white;
    margin-bottom: 0px;
}

.inv-sub-body label {
    font-weight: bold;
}

.inv-sub-body h4 {
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 20px;
}

.inv-sub-body .thead-dark th {
    background: #717375;
    border-color: #717375;
}

.inv-sub-body .img-thumb {
    max-width: 40px;
}

.isb-head {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.isb-main {
    background: white;
}
.isb-main .isb-body {
    max-height: 200px;
    overflow-y: auto;
}









.das-head {
    width: 100%;
    background: #3961A0;
    padding: 10px 0px;
    margin: 0px 15px 0px;
    color: white;
}

.das-head a {
    color: white;
}

.das-head h4 {
    margin-bottom: 0px;
}

.das-head .dh-2 {
    text-align: center;
}

.das-head .dh-3 {
    text-align: right;
}

.das-body {
    background: white;
    padding: 25px 0 15px;
}

.das-body .thead-dark th {
    background: #717375;
    border-color: #717375;
    vertical-align: top;
}
td {
    cursor: pointer;
}
.das-body td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.das-body .thead-dark th, .das-body td {
    font-size: 12px;
    font-weight: normal;
    padding: 10px 4px;
    text-align: center;
}

.das-body .thead-dark th .form-control {
    padding: 0px 5px;
}

.db-edit i {
    color: green; 
}

.db-delete i {
    color: red; 
}

.dh-menu i {
    font-size: 20px;
}



.dsh-modal .modal-content {
    border: 0;
    border-radius: 3px;
    background: transparent;
}


.dsh-modal .modal-header {
    background: #3961A0;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dsh-modal .modal-header .close {
    color: white;
}

.dsh-modal .modal-header h5 {
    font-size: 16px;
}

.dsh-modal .modal-body {
    background: white;
}

.dsh-modal .modal-body .form-control {
    background: #E6E7E8;
}

.dsh-modal .modal-footer {
    justify-content: space-between;
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.assign-loc .form-check-input {
    margin-top: .5rem;
    margin-left: .25rem;
}
.modal-body.das-body {
    padding: 15px;
}

.put-part {
    min-height: 200px;
}

.das-body p {
    font-size: 12px;
}
.das-body label {
    font-size: 12px;
}

.put-part .thead-dark th, .das-body td {
    padding: .75rem;
    text-align: left;
}

.put-part-loc {
    height: 200px;
    overflow: auto;
}

.put-part-loc th {
    padding-right: 0px;
    padding-left: 0px;
}

.error {
    color: red;
}





@media (max-width: 1025px) {
.das-body .thead-dark th, .das-body td {
    min-width: 90px;
}

}



@media (min-width: 1025px) {
.table-responsive {
    display: table;
}
.dsh-modal.show .modal-dialog {
    min-width: 700px;
}
#logDetails .modal-dialog {
    min-width: 1024px;
}
}



@media (max-width: 767.98px) {
    header .logo {
        text-align: center;
    }
    header .menu {
        flex-direction: column;
    }
    header .menu a {
        margin-bottom: 10px;
    }
    .mc-item {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }


    .inv-sub-head h3 {
        font-size: 22px;
    }
    .inv-sub-head {
        margin: 30px 0px 20px;
    }
    .inv-sub-body label.text-right {
        text-align: left !important;
    }

    
    .dh-1 {
        text-align: center;
    }
    .das-head h4 {
        font-size: 18px;
    }
    .dh-3 {
        text-align: center !important;
    }

}

