
  <!-- Restock -->
  <div class="modal fade dsh-modal" id="restock" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">RESTOCK</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form> 
                <div class="row">

                    <div class="col-md-12">
                        <p><b>Part #:</b> 651385</p>
                        <p><b>Description:</b> PUMP, AF, AS200</p>
                        <p><b>Location:</b> Heriman Parts</p>
                        <p><b>Current Qty:</b> 26</p>
                    </div>

                    <div class="col-md-12">
                        <hr>
                    </div>

                    <div class="col-md-12">
                        <p><b>RESTOCK FORM</b></p>
                        <table class="table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Location
                                </th>
                                <th scope="col">
                                    Qty
                                </th>
                                <th scope="col">
                                    Qty Pulled
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td style="width: 60%;">Heriman Parts</td>
                                <td>50</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group row mx-0">
                                        <input style="margin-top: 14px;" type="checkbox">
                                        <label for="" class="col col-form-label">Other</label>
                                        </div>
                                </td>
                                <td></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    <hr>
                </div>

                <div class="col-md-12">
                    <p><b>PENDING ORDERS</b></p>
                    <p class="text-center">There are no open reorder logs for 65-1385</p>
                </div>

        </div>
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-back" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-next">Restock</button>
        </div>
      </div>
    </div>
  </div>


<div class="strt-table">
<div> <button type="button" class="btn btn-success">Open Restock Logs: {{tableArr.length}}</button></div>


  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8" >
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="partNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Part # </th>
        <td mat-cell *matCellDef="let element" data-toggle="modal" data-target="#restock"> {{element.partNo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Part Description </th>
        <td mat-cell *matCellDef="let element" data-toggle="modal" data-target="#restock"> {{element.description}} </td>
      </ng-container>
  
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let element" data-toggle="modal" data-target="#restock"> {{element.location}}</td>
      </ng-container>

      <ng-container matColumnDef="partCurrentQty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
        <td mat-cell *matCellDef="let element" data-toggle="modal" data-target="#restock"> {{element.partCurrentQty}}</td>
      </ng-container>
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- Angular 8 pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <div class="loading" *ngIf="loader" role="status">
    <img src="assets/loader/Ellipsis-1s-200px.gif" class="ajax-loader">
  </div>
</div>