<h1 class="head">Restock Points</h1>

  <!-- Restock -->
  <div class="modal fade dsh-modal" id="restock" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">RESTOCK</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form> 
                <div class="row">

                    <div class="col-md-12">
                        <p><b>Part #:</b> 651385</p>
                        <p><b>Description:</b> PUMP, AF, AS200</p>
                        <p><b>Location:</b> Heriman Parts</p>
                        <p><b>Current Qty:</b> 26</p>
                    </div>

                    <div class="col-md-12">
                        <hr>
                    </div>

                    <div class="col-md-12">
                        <p><b>RESTOCK FORM</b></p>
                        <table class="table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Location
                                </th>
                                <th scope="col">
                                    Qty
                                </th>
                                <th scope="col">
                                    Qty Pulled
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td style="width: 60%;">Heriman Parts</td>
                                <td>50</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group row mx-0">
                                        <input style="margin-top: 14px;" type="checkbox">
                                        <label for="" class="col col-form-label">Other</label>
                                        </div>
                                </td>
                                <td></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    <hr>
                </div>

                <div class="col-md-12">
                    <p><b>PENDING ORDERS</b></p>
                    <p class="text-center">There are no open reorder logs for 65-1385</p>
                </div>

        </div>
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-back" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-next">Restock</button>
        </div>
      </div>
    </div>
  </div>


<div class="strt-table">
<div> <button type="button" class="btn btn-success">Open Restock Logs: {{tableArr.length}}</button></div>
<div class="loading" *ngIf="loader" role="status">
  <img src="assets/loader/Ellipsis-1s-200px.gif" class="ajax-loader">
</div>
<table *ngIf="loading" class="table table-striped" data-toggle="modal" data-target="#restock">
    
    <thead>

      <tr>
        <th scope="col">Part #</th>
        <th scope="col">Part Description</th>
        <th scope="col">Location</th>
        <th scope="col">Qty</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableArr">
        <td scope="row">{{data.partNo}}</td>
        <td>{{data.description}}</td>
        <td>{{data.location}}</td>
        <td>{{data.partCurrentQty}}</td>
      </tr>
    </tbody>
  </table>
</div>