



<div class="wrapper">
<div class="btn-group drop-drip">
  
  <button type="button" class="btn dropdown-toggle building-name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Building Name
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="javascript:void()">Herriman</a>
    <a class="dropdown-item" href="javascript:void()">Herriman</a>
    <a class="dropdown-item" href="javascript:void()">Herriman</a>
  </div>
</div>
<div class="main-cls">
 <div class="left-side">
<button class="btn create-area" (click)="newAreaModal.show()">Create New Area</button>

   <input type="text" class="left-input" value="Aftermarket">
   <input type="text" class="left-input" value="Covers">
   <input type="text" class="left-input" value="Factory">
   <input type="text" class="left-input" value="Showroom">
   <input type="text" class="left-input" value="Paris">
   <input type="text" class="left-input" value="Plumbring">
   <input type="text" class="left-input" value="RMA">
   <input type="text" class="left-input" value="RSA">
   <input type="text" class="left-input" value="Shipping">
   <input type="text" class="left-input" value="Testing">
   <input type="text" class="left-input" value="Photo Both">
 </div>

 <div class="right-side">
  <div> <button type="button" class="btn btn-success">Appolo Management</button></div>

  <table class="table table-striped table-hover table-responsive">
    <thead class="thead">
      <tr>
        <th scope="col">Free Range Location</th>
        <th scope="col">Vertical Stack Range</th>
        <th scope="col">Create or Remove Stacks per Asle</th>
        <th scope="col"># Stocks per Asle</th>
        <th scope="col">Area type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            E (5)
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="4"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Not Assigned
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><button class="btn">Delete</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            E (5)
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="4"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Not Assigned
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><button class="btn">Delete</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            E (5)
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="4"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Not Assigned
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><button class="btn">Delete</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            E (5)
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="4"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Not Assigned
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><button class="btn">Delete</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            E (5)
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="4"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Not Assigned
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><button class="btn">Delete</button></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            E (5)
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><input type="checkbox"></td>
        <td><input type="text" value="4"></td>
        <td><div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Not Assigned
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
            <a class="dropdown-item" href="javascript:void()">Herriman</a>
          </div>
        </div></td>
        <td><button class="btn">Delete</button></td>
      </tr>
    </tbody>
  </table>
 </div>
</div>
  </div>


  <div class="modal fade dsh-modal" bsModal #newAreaModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create SPA Inventory Area</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="newAreaModal.hide()">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="main-cls">
            <div class="left-side">
              <label for="New Area" class="lNewArea">New Area</label>
              <input type="text" class="left-input">
              
            </div>
           
            <div class="right-side">
             <div> <button type="button" class="btn btn-success">Appolo Management</button></div>
           
             <table class="table table-striped table-hover table-responsive">
               <thead class="thead">
                 <tr>
                   <th scope="col">Free Range Location</th>
                   <th scope="col">Vertical Stack Range</th>
                   <th scope="col">Create or Remove Stacks per Asle</th>
                   <th scope="col"># Stacks per Asle</th>
                   <th scope="col">Area type</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td><input type="checkbox"></td>
                   <td><div class="btn-group">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       E (5)
                     </button>
                     <div class="dropdown-menu">
                       <a class="dropdown-item" href="javascript:void()">Herriman</a>
                       <a class="dropdown-item" href="javascript:void()">Herriman</a>
                       <a class="dropdown-item" href="javascript:void()">Herriman</a>
                     </div>
                   </div></td>
                   <td><input type="checkbox"></td>
                   <td><input type="text" value="4"></td>
                   <td><div class="btn-group">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Not Assigned
                     </button>
                     <div class="dropdown-menu">
                       <a class="dropdown-item" href="javascript:void()">Herriman</a>
                       <a class="dropdown-item" href="javascript:void()">Herriman</a>
                       <a class="dropdown-item" href="javascript:void()">Herriman</a>
                     </div>
                   </div></td>
                 </tr>
                
               </tbody>
             </table>
            </div>
           </div>        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-back" (click)="newAreaModal.hide()">Save</button>
            <button type="submit" class="btn btn-next float-right" (click)="newAreaModal.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>