<ng-container >
<button class="btn" (click)="cnfrmtnModal.show()">Add Building</button>
<div class="wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element"><button>  {{element.action}}</button> </td>
      </ng-container>
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- Angular 8 pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
</ng-container>


  <div class="modal fade dsh-modal" bsModal #cnfrmtnModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Building Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="cnfrmtnModal.hide()">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="text">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-back" (click)="cnfrmtnModal.hide(); isFirstTable = !isFirstTable">Submit</button>
            <button type="submit" class="btn btn-next float-right" (click)="cnfrmtnModal.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>