

h1,h2,h3,h4,h6 {
    font-family: Open Sans, sans-serif;
    color: #414042;
}
.head{
    color: #414042;
}

table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

button {
    border: #3961A0;
    background: #3961A0;
    color: white;
    
}

button:hover {
    color: white;
}

th {
    font-weight: bold;
    font-size: 18px;
    color: #414042;
}

input[type=text]{
    width: 100%;
}

.left-side{
    width: 20%;
    float: left;
    /* border: #B3B5B8 1px solid; */
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: none;
    border-right: none;
    border-left: none;

}
.left-sideModal{
    width: 20%;
    float: left;
    border: #B3B5B8 1px solid;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 43px;
}

.right-side{
    width: 80%;
    float: right;
    border: #B3B5B8 1px solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
    
}
.wrapper{
    /* border: #B3B5B8 1px solid; */
}
.create-area{
    margin: 15px;
}
.main-cls{
    display: inline-block;
}

.btn-success {
    background-color: #3961A0 !important;
    border-color: #3961A0 !important;
    width: 100%;
    cursor: initial;
}

.btn-success:active, .btn-success:focus  {
    background: #285599 !important;
    border-color: #285599 !important;
    outline: none !important;
    box-shadow: none !important;
}
.drop-drip{
    margin-bottom: 10px;
}

.left-input{
    margin-bottom: 9px;

}
.building-name{
    margin-top: 10px !important;
    margin-bottom: 13px !important;
}

.lNewArea{
    font-weight: bold;
    margin-top: 52px;
    margin-left: 73px;
}

/* modal css */

.dsh-modal .modal-content {
    border: 0;
    border-radius: 3px;
    background: transparent;
}
.modal-content2 {
    min-width: 1368px !important;
}

.dsh-modal .modal-header {
    background: #3961A0;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dsh-modal .modal-header .close {
    color: white;
}

.dsh-modal .modal-header h5 {
    font-size: 16px;
}

.dsh-modal .modal-body {
    background: white;
}

.dsh-modal .modal-body .form-control {
    background: #E6E7E8;
}

.dsh-modal .modal-footer {
    justify-content: space-between;
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dsh-modal .form-check-input {
    margin-top: .5rem;
    margin-left: .25rem;
}
.modal-body.das-body {
    padding: 15px;
}
.modal.show .modal-dialog {
    margin-left: 17rem !important;
    margin-top: 7rem !important;
}