
<div class="lookup-main-content">
<h1 class="head">Location Lookup</h1>

<div class="lookup">
    <button type="button" class="btn btn-success">Parts Location Lookup</button>

<div class="arch_search">
    <p>Part Number:</p>
    <form class="example-form">
      <div class="example-full-width">
        <input type="text"
               placeholder="Enter Part#"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="selectPartNum(option)">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
    <button class="close" type="reset" (click)="resetData()">×</button>
    </form>
    <div class="spinner-border text-primary loader" *ngIf="loader" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  
 
  
  <div class="container" *ngIf="loading">
    <div class="row">
        <div class="img">
            <img src="assets/inventory-management/testImg.jpg" alt="photo" class="img-thumbnail">
          </div > 
          <div class="tb">
        <table class="table table-striped" >
            <thead>
              <tr>
                <th scope="col">Building</th>
                <th scope="col">Area</th>
                <th scope="col">Location</th>
                <th scope="col">Part #</th>
                <th scope="col">Qty</th>
                <th scope="col">Date First Assigned</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tableData ">
                <td scope="row">{{data.buildingName}}</td>
                <td>{{data.areaName}}</td>
                <td>{{data.location}}</td>
                <td>{{data.partNumeber? data.partNumeber: 'NULL'}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.date | date: 'dd/MM/yyyy'}}</td>
              </tr>
            
            </tbody>
          </table>   
        </div>   
    </div>
  </div>
</div>
</div>

  