
<div [ngClass]="{'dashboard-overlay': loader}">
  <div class="loading" *ngIf="loader" role="status">
    <img src="assets/loader/Ellipsis-1s-200px.gif" class="ajax-loader">
</div>
<div class="lookup">
    <button type="button" class="btn btn-success">Parts Location Lookup</button>

<div class="arch_search">
    <p>Part Number: </p>
    <form class="example-form">
      <div class="example-full-width">
        <input type="text"
                id="searchPart"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="selectPartNum(option)">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
    <button *ngIf="isReset == false" class="close" type="reset" (click)="resetData()">×</button>

    </form>

   

  </div>
  
  
 
  
  <div class="container" [hidden]="tableLoader == true">
    <div class="row">
        <div class="img">
            <!-- <img  [src]="url" alt="photo" class="img-thumbnail  img-responsive img-fluid"> -->
            <!-- <ngx-imageviewer  [src]="url"></ngx-imageviewer> -->
            <app-image-viewer [images]="['https://picsum.photos/900/500/?random']"
            [idContainer]="'idOnHTML'"
            [loadOnInit]="true"></app-image-viewer>
          </div > 
          <div class="tb">
            <p *ngIf="tableData.length == 0 || tableData == undefined">No location is assigned for: {{partNumber}}</p>

        <table class="table table-striped table-hover" *ngIf="tableData.length != 0 && tableData != undefined">
            <thead>
              <tr>
                <th scope="col">Building</th>
                <th scope="col">Area</th>
                <th scope="col">Location</th>
                <th scope="col">Part #</th>
                <th scope="col">Qty</th>
                <th scope="col">Date First Assigned</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tableData ">
                <td scope="row">{{data.buildingName}}</td>
                <td>{{data.areaName}}</td>
                <td>{{data.location}}</td>
                <td>{{data.partNumber? data.partNumber: 'NULL'}}</td>
                <td>{{data.qty}}</td>
                <td>{{data.date | date: 'dd/MM/yyyy'}}</td>
              </tr>
            
            </tbody>
          </table>   
        </div>   
    </div>
  </div>
</div>
</div>


  