h1,h2,h3,h4,h5,h6 {
  font-family: Open Sans, sans-serif;
}
.head{
  color: #414042;
}

.table th, .table td{
  max-width: 94px !important;
}
.tb p{
  margin-left: 17rem;
    margin-top: 5rem;
    color: red;
}
.text-primary {
  color: #285599 !important;
}

.loader img{
  width: 10rem;
    position: absolute;
    margin: -4rem 28rem;
}

button.close{
  margin-top: -29px;
    margin-right: 27px;
}
.btn-success{
    width: 1138px;
    height: 78px;
    font-size: 30px;
    font-weight: 500;
    background-color: #3961A0 !important;
    border-color: #3961A0 !important;
    cursor: initial;
}
.btn-success:active, .btn-success:focus  {
  background: #285599 !important;
  border-color: #285599 !important;
  outline: none !important;
  box-shadow: none !important;
}


.arch_search { 
    width: 40%;
    padding-top: 20px;
    margin-left: 294px;
    display: inline-flex;
    /* position: relative; */
}
.arch_search input[type=text]{ width:85%; height:40px; border:1px solid #ddd; border-radius:5px; padding:10px 5px;    
  background-size: 19px;
  margin-left: 10px;
  }
.arch_search input[type=submit] {    
background: #28a745;
  border: 0;
  color: #fff;
  padding: 8px;
  border-radius: 3px; width:14%; text-align:center;}
.arch_search p{
    text-align: justify;
    font-weight: bold;
    height: 24px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 20px;
    padding-top: 6px;   
}

.arch_search input{
     width: 80%;
}
  
  button.close {
    padding: 0;
    background-color: none;
    color: red;
    border: 0;
    font-weight: bold;
}

button.close:active, button.close:visited, button.close:focus{
  text-decoration: none;
  outline: none;
  border: none;
}
.lookup{
    border: #B3B5B8  .5px solid;
}
.img {
    max-width: 15%;
    width: 20%;
    float: left;
    border: #B3B5B8 .5px solid;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: 40px;
    margin-left: 20px;
    height: 171px;
    max-height: 171px;


}
.tb{
    width: 80%;
    float: right;
    border: #B3B5B8  .5px solid;
    margin-bottom: 40px;
    margin-top: 40px;

}

td {
    border-top: #B3B5B8  .5px solid;
}

.img-thumbnail {
    max-width: 100% !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .lookup-main-content{
    
  }