
<div class="lookup">
    <button type="button" class="btn btn-success">Parts Location Lookup</button>

<div class="arch_search">
    <p>Part Number:</p>
    <form class="example-form">
      <div class="example-full-width">
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </form>
    <button class="close" type="reset">×</button>
  </div>
  

  
  <div class="container">
    <div class="row">
        <div class="img">
            <img src="assets/inventory-management/testImg.jpg" alt="photo" class="img-thumbnail">
          </div > 
          <div class="tb">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Building</th>
                <th scope="col">Area</th>
                <th scope="col">Location</th>
                <th scope="col">Part #</th>
                <th scope="col">Qty</th>
                <th scope="col">Date First Assigned</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Herrimen</td>
                <td>Parts</td>
                <td>WHT3-8-D/td>
                <td>10-2425</td>
                <td>40</td>
                <td>06/11/2020</td>
              </tr>
              <tr>
                <td scope="row">Herrimen</td>
                <td>Parts</td>
                <td>WHT3-8-D/td>
                <td>10-2425</td>
                <td>40</td>
                <td>06/11/2020</td>
              </tr>
            </tbody>
          </table>   
        </div>   
    </div>
  </div>
</div>


  