<header>
    <div class="container">
        <div class="row">
         <div class="col-md-3 logo">
             <a href="#">
                 <img src="assets/bfspas.png" alt="logo" class="img-fluid">
             </a>
         </div>
         <div  class="col-md-9 menu ">
             <ng-container *ngIf="currentModule == 'dashboard'">
             <a href="javascript:void">
                 <div class="menu-text">
                     <p>Deliveries Needing Attention</p>
                     <div class="mt-badge">
                         15
                     </div>
                 </div>
             </a>
             <a href="javascript:void">
                 <div class="menu-text">
                     <p>New Sales Leads</p>
                     <div class="mt-badge">
                         3
                     </div>
                 </div>
             </a>
            </ng-container>
             <a href="javascript:void" class="username">
                <div class="menu-text">
                    <p>Muhammad Umar</p>
                </div>
            </a>
            <a href="javascript:void" class="btn-success logout" [routerLink]="['/login']">
                <div class="menu-text">
                    <p>Logout</p>
                </div>
            </a>
            </div>
        </div>
    </div>
</header>