
<ng-container  >
 <div class="dashoardCls" [ngClass]="{'squeeze': currentComponent == 'restock'}">
    <div class="col mc-item">
        <div class="mci-inner">
            <a href="javascript:void(0)" routerLink="restock-points">
            <div class="mcii-top">
                <div class="mciit-cont">
                    <img src="assets/dashboard-icons/1.png" alt="icon" class="img-fluid">
                </div>
            </div>
            <div class="mcii-bottom" >
                <P>Restock Points</P>
            </div>
            </a>
        </div>
    </div>
    
    <div class="col mc-item">
        <div class="mci-inner">
            <a href="javascript:void(0)" routerLink="location-lookup">
            <div class="mcii-top">
                <div class="mciit-cont">
                    <img src="assets/dashboard-icons/2.png" alt="icon" class="img-fluid">
                </div>
            </div>
            <div class="mcii-bottom">
                <P>Location Lookup</P>
            </div>
            </a>
        </div>
    </div>
    
    <div class="col mc-item">
        <div class="mci-inner">
            <a href="javascript:void(0)" routerLink="manage-locations">
            <div class="mcii-top">
                <div class="mciit-cont">
                    <img src="assets/dashboard-icons/3.png" alt="icon" class="img-fluid">
                </div>
            </div>
            <div class="mcii-bottom">
                <P>Manage Locations</P>
            </div>
            </a>
        </div>
    </div>
    
    <div class="col mc-item">
        <div class="mci-inner">
            <a href="javascript:void(0)" routerLink="stock-inventory">
            <div class="mcii-top">
                <div class="mciit-cont">
                    <img src="assets/dashboard-icons/4.png" alt="icon" class="img-fluid">
                </div>
            </div>
            <div class="mcii-bottom">
                <P>Stock Inventory</P>
            </div>
            </a>
        </div>
    </div>
    
    <div class="col mc-item">
        <div class="mci-inner">
            <a href="javascript:void(0)" routerLink="relocate-inventory">
            <div class="mcii-top">
                <div class="mciit-cont">
                    <img src="assets/dashboard-icons/5.png" alt="icon" class="img-fluid">
                </div>
            </div>
            <div class="mcii-bottom">
                <P>Relocate Inventory</P>
            </div>
            </a>
        </div>
    </div>
    
    <div class="col mc-item">
        <div class="mci-inner">
            <a href="javascript:void(0)" routerLink="reorder-points">
            <div class="mcii-top">
                <div class="mciit-cont">
                    <img src="assets/dashboard-icons/6.png" alt="icon" class="img-fluid">
                </div>
            </div>
            <div class="mcii-bottom">
                <P>Reorder Points</P>
            </div>
            </a>
        </div>
    </div>
    
    <div class="col mc-item">
        <div class="mci-inner">
            <a href="javascript:void(0)" routerLink="inventory-counts">
            <div class="mcii-top">
                <div class="mciit-cont">
                    <img src="assets/dashboard-icons/7.png" alt="icon" class="img-fluid">
                </div>
            </div>
            <div class="mcii-bottom">
                <P>Inventory Counts</P>
            </div>
            </a>
        </div>
    </div>
    
    </div>
</ng-container>
