

 <div class="dashoardCls">

<div class="col mc-item">
    <div class="mci-inner">
        <a href="javascript:void(0)" [routerLink]="['/spa-sales']">
        <div class="mcii-top">
            <div class="mciit-cont">
                <img src="assets/dashboard-icons/1.png" alt="icon" class="img-fluid">
            </div>
        </div>
        <div class="mcii-bottom" >
            <P>SPA SALES</P>
        </div>
        </a>
    </div>
</div>

<div class="col mc-item">
    <div class="mci-inner">
        <a href="javascript:void(0)" [routerLink]="['/parts-sales']">
        <div class="mcii-top">
            <div class="mciit-cont">
                <img src="assets/dashboard-icons/2.png" alt="icon" class="img-fluid">
            </div>
        </div>
        <div class="mcii-bottom">
            <P>PARTS SALES</P>
        </div>
        </a>
    </div>
</div>

<div class="col mc-item">
    <div class="mci-inner">
        <a href="javascript:void(0)" [routerLink]="['/customers']">
        <div class="mcii-top">
            <div class="mciit-cont">
                <img src="assets/dashboard-icons/3.png" alt="icon" class="img-fluid">
            </div>
        </div>
        <div class="mcii-bottom">
            <P>CUSTOMERS</P>
        </div>
        </a>
    </div>
</div>

<div class="col mc-item">
    <div class="mci-inner">
        <a href="javascript:void(0)" [routerLink]="['/tech-support']">
        <div class="mcii-top">
            <div class="mciit-cont">
                <img src="assets/dashboard-icons/4.png" alt="icon" class="img-fluid">
            </div>
        </div>
        <div class="mcii-bottom">
            <P>TECH SUPPORT</P>
        </div>
        </a>
    </div>
</div>

<div class="col mc-item">
    <div class="mci-inner">
        <a href="javascript:void(0)" [routerLink]="['/reports']">
        <div class="mcii-top">
            <div class="mciit-cont">
                <img src="assets/dashboard-icons/5.png" alt="icon" class="img-fluid">
            </div>
        </div>
        <div class="mcii-bottom">
            <P>REPORTS</P>
        </div>
        </a>
    </div>
</div>

<div class="col mc-item">
    <div class="mci-inner">
        <a href="javascript:void(0)" [routerLink]="['/events']">
        <div class="mcii-top">
            <div class="mciit-cont">
                <img src="assets/dashboard-icons/6.png" alt="icon" class="img-fluid">
            </div>
        </div>
        <div class="mcii-bottom">
            <P>EVENTS</P>
        </div>
        </a>
    </div>
</div>

<div class="col mc-item">
    <div class="mci-inner">
        <a href="javascript:void(0)" [routerLink]="['/campaigns']">
        <div class="mcii-top">
            <div class="mciit-cont">
                <img src="assets/dashboard-icons/7.png" alt="icon" class="img-fluid">
            </div>
        </div>
        <div class="mcii-bottom">
            <P>MARKETING CAMPAIGNS</P>
        </div>
        </a>
    </div>
</div>
<div class="col mc-item">
    <div class="mci-inner">
        <a href="javascript:void(0)" [routerLink]="['/inventory-management']">
        <div class="mcii-top">
            <div class="mciit-cont">
                <img src="assets/inventory-management/Inventory-Management-icon.png" alt="icon" class="img-fluid">
            </div>
        </div>
        <div class="mcii-bottom">
            <P>Inventory Management</P>
        </div>
        </a>
    </div>
</div>
</div>