/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-autocomplete-panel {
    position: fixed !important;
    z-index:100000 !important;
}

/* Mat Autocomplete on Modal Fixes */ 
.cdk-overlay-container {z-index: 999999 !important;}
.modal-backdrop{
    /* position: relative !important; */
    z-index: 10 !important;
  }

  .mat-autocomplete-panel.mat-autocomplete-visible {
    width: 45% !important;
}

