

h1,h2,h3,h4,h6 {
    font-family: Open Sans, sans-serif;
    color: #414042;
}
.head{
    color: #414042;
}

table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

button {
    border: #3961A0;
    background: #3961A0;
    color: white;
    
}

button:hover {
    color: white;
}

th {
    font-weight: bold;
    font-size: 18px;
    color: #3961A0;
}

.area-lookup{
    margin-top: 55px;
    margin-bottom: 112px;
}
.b-name{
    margin-right: 7rem;
    margin-left: 3rem;
}
.area-name{
    margin-right: 3rem;
    position: relative;

}
.aisle{

}
.create-aisle{

}
.area-type-form{
    
}
.create-area{
    position: absolute;
    margin: 3rem;
}
.create-area button{
    padding: 2rem;
}
.area-type-form label {

}

.area-type-form input[type=text] {
    
}






/* modal css */


.modal-body input[type=text]{
    width: 100%;
}

.add-build{
    margin-bottom: 10px;
    margin-top: 10px;
}
.clear{
    margin-left: 5px;
}
.select-menu{
    margin-bottom: 10px;
    margin-left: 29rem;
}
.dsh-modal .modal-content {
    border: 0;
    border-radius: 3px;
    background: transparent;
}
.searchbar{
    width: 20% !important;
}

.dsh-modal .modal-header {
    background: #3961A0;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dsh-modal .modal-header .close {
    color: white;
}

.dsh-modal .modal-header h5 {
    font-size: 16px;
}

.dsh-modal .modal-body {
    background: white;
}

.dsh-modal .modal-body .form-control {
    background: #E6E7E8;
}

.dsh-modal .modal-footer {
    justify-content: space-between;
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dsh-modal .form-check-input {
    margin-top: .5rem;
    margin-left: .25rem;
}
.modal-body.das-body {
    padding: 15px;
}
